* {
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	line-height: 1;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	display: flex;
	justify-content: center;
	background-color: #DAE5E7;
}
p {
	color: rgba(0,0,0,0.5);
	font-size: 0.9rem;
	line-height: 1.6;
}
.main {
	text-align: center;
	width: 1100px;
	height: 750px;
	margin-top: 100px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 2px 6px -4px black;
}
.main__title {
	font-size: 2rem;
	margin-top: 40px;
	color: rgba(0,0,0,0.6);
}
.main__caption {
	font-size: 2rem;
	font-weight: 600;
	margin-top: 8px;
	color: rgba(0,0,0,0.6);
}
.main__description {
	width: 50%;
	margin: 15px auto;
}
.card__list {
	margin-top: 40px;
	display: flex;
	// flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	position: relative;
}
.card {
	width: 300px;
	height: 200px;
	border-radius: 5px;
	box-shadow: 0px 2px 6px -4px black;
	text-align: left;
	list-style-type: none;
	padding: 20px;
	margin: 15px;
}
.card--1 {
	border-top: 3px solid hsl(180,62%,55%);
	position: relative;
	top: 110px;
	
}
.card--2 {
	border-top: 3px solid hsl(0,78%,62%);
}
.card--3 {
	border-top: 3px solid hsl(34,97%,64%);
	position: absolute;
	top: 220px;
	right: 385px;
}
.card--4 {
	border-top: 3px solid hsl(212,86%,64%);
	position: relative;
	top: 110px;
}
.card__title {
	font-weight: 600;
	color: rgba(0,0,0,0.6);
}
.card__description {
	font-size: 0.8rem;
	margin-top: 10px;
}
.card__image {
	margin-left: auto;
	margin-top: 40px;
	display: block;
	height: 30%;
}